APP_ENV=production
DATABASE_URL=postgresql+psycopg://dogapp:CHANGE_THIS_DB_PASSWORD@db:5432/dogapp
POSTGRES_DB=dogapp
POSTGRES_USER=dogapp
POSTGRES_PASSWORD=CHANGE_THIS_DB_PASSWORD
UPLOAD_DIR=uploads
SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
MAX_UPLOAD_SIZE=5242880
PUBLIC_PORT=80
AWS_REGION=ap-northeast-1
CLOUDWATCH_LOG_GROUP=/dog-growth-journal/prod
S3_LOG_ARCHIVE_BUCKET=CHANGE_THIS_BUCKET_NAME
